*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
background:linear-gradient(180deg,#ffd6e7,#ffc3dd,#ffb6d5,#ffd9eb);
}

/* Flowers */

.flower{
position:absolute;
font-size:45px;
animation:float 5s ease-in-out infinite;
filter:drop-shadow(0 0 10px pink);
}

.f1{top:20px;left:30px;}
.f2{top:50px;right:40px;}
.f3{bottom:30px;left:30px;}
.f4{bottom:40px;right:40px;}
.f5{
    top:45%;
    left:5%;
    animation-delay:1.5s;
}

.f6{
    top:45%;
    right:5%;
    animation-delay:2.5s;
}

@keyframes float{

0%,100%{
transform:translateY(0px);
}

50%{
transform:translateY(-18px);
}

}

/* Hearts */

body::before{
content:"💕 💖 💗 💕 💖 💗 💕";
position:absolute;
top:-60px;
left:0;
width:100%;
text-align:center;
font-size:30px;
animation:fall 12s linear infinite;
opacity:.4;
}

@keyframes fall{

0%{
transform:translateY(-100px);
}

100%{
transform:translateY(120vh);
}

}

/* Envelope */

.envelope{

position:relative;
width:340px;
height:230px;
background:#ffb6d5;
border-radius:10px;
cursor:pointer;
box-shadow:0 20px 40px rgba(255,105,180,.4);
transition:1s;
animation:bounce 2s infinite;

}

.envelope:before{

content:"";
position:absolute;
top:0;
left:0;

border-left:170px solid transparent;
border-right:170px solid transparent;
border-top:115px solid #ff8ec4;

transform-origin:top;
transition:1s;

}

.envelope:after{

content:"💗";
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
font-size:45px;

}

@keyframes bounce{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-10px);

}

}

.click{

margin-top:30px;
font-size:24px;
color:#ff4fa3;
font-weight:bold;
text-align:center;

}

/* Letter */

#letter{

display:none;
width:760px;
max-width:90%;
max-height:85vh;
overflow-y:auto;

background:linear-gradient(to bottom,#fff5fa,#ffe4f0,#ffd9ea);

padding:45px;

border-radius:25px;

border:4px solid #ffb6d5;

box-shadow:0 25px 50px rgba(255,105,180,.35);

animation:show 1s ease;

}

@keyframes show{

from{

opacity:0;
transform:translateY(40px) scale(.8);

}

to{

opacity:1;
transform:translateY(0) scale(1);

}

}

h1{

text-align:center;
color:#ff4fa3;
font-size:38px;
margin-bottom:25px;

}

p{

font-size:22px;
line-height:2;
color:#6b3b54;
text-align:center;

}

.bottom{

margin-top:30px;
text-align:center;
font-size:24px;
color:#ff4fa3;

}
